APScheduler==3.11.2
blinker==1.9.0
certifi==2026.6.17
charset-normalizer==3.4.7
click==8.4.1
colorama==0.4.6
Flask==3.1.3
idna==3.18
itsdangerous==2.2.0
Jinja2==3.1.6
MarkupSafe==3.0.3
python-dotenv==1.2.2
requests==2.34.2
tzdata==2026.2
tzlocal==5.4.3
urllib3==2.7.0
Werkzeug==3.1.8
Flask-SQLAlchemy==3.1.1
SQLAlchemy==2.0.31
Flask-CORS==4.0.0
supabase==2.5.1
beautifulsoup4==4.12.3
financeDataReader
pandas